﻿@using Microsoft.AspNet.Identity
@using Puhk.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PUHK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("PUHK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
   
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                @if (Request.IsAuthenticated && Töötaja.ByKontakt(User.Identity.Name) != null)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Puhkused <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Minu puhkused", "MinuPuhkus", "Puhkus")</li>
                            <li>@Html.ActionLink("Osakonna puhkused", "OsakonnaPuhkused", "Puhkus")</li>

                            @if (Töötaja.SisseloginudTöötaja.TöötajaRoll == Töötaja.Roll.Personalijuht || Töötaja.SisseloginudTöötaja.TöötajaRoll == Töötaja.Roll.Firmajuht)
                            {
                                <li>@Html.ActionLink("Osakondade puhkused", "Koik", "Puhkus")</li>
                            }
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Lisa puhkus", "Create", "Puhkus")</li>

                    if (Töötaja.SisseloginudTöötaja.TöötajaRoll == Töötaja.Roll.Osakonnajuht)
                    {
                        <li>@Html.ActionLink("Osakonna töötajad", "OsakonnaTöötajad", "Töötaja")</li>
                    }

                    if (Töötaja.SisseloginudTöötaja.TöötajaRoll == Töötaja.Roll.Personalijuht || Töötaja.SisseloginudTöötaja.TöötajaRoll == Töötaja.Roll.Firmajuht)
                    {
                        <li>@Html.ActionLink("Töötajad", "Index", "Töötaja")</li>
                        <li>@Html.ActionLink("Osakonnad", "Index", "Osakond")</li>
                    }
                    
                }
            </ul>

            

                @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year PUHK puhkusekeskkond  </p>    
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
