﻿@model Puhk.Models.Töötaja

@{
    ViewBag.Title = "Kustuta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kustuta</h3>

<h4>Oled sa kindel, et soovid töötajat kustutada?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Isikukood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isikukood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontakt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontakt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TööAlgusKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TööAlgusKP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TööLõppKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TööLõppKP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Osakond.Nimetus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osakond.Nimetus)
        </dd>

        <dt>
            Roll
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TöötajaRoll)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi", "Index")
        </div>
    }
</div>
