﻿@model Puhk.Models.Töötaja

@{
    ViewBag.Title = "Minu andmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Minu andmed</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Isikukood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isikukood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontakt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontakt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TööAlgusKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TööAlgusKP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TööLõppKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TööLõppKP)
        </dd>

        <dt>
            Osakond @*@Html.DisplayNameFor(model => model.OsakondId)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Osakond.Nimetus)
        </dd>

        <dt>
            Roll @*Html.DisplayNameFor(model => model.TöötajaRoll)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TöötajaRoll)
        </dd>

    </dl>
</div>

@*<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi", "Index")
</p>*@
