﻿@model IEnumerable<Puhk.Models.Töötaja>
@using Puhk.Models
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Töötajad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "Töötaja", FormMethod.Get))                         // see jupp teeb töötajate otsingut
{
    <hr />
    <b> Otsingu valik: </b>
    @Html.RadioButton("option", "Nimi") <text>Nimi</text>
    @Html.RadioButton("option", "Isikukood") <text>Isikukood</text>
    @Html.RadioButton("option", "TöötajaRoll") <text>Roll</text>
    @Html.TextBox("search")
    <input type="submit"
           name="submit"
           value="Otsi"
           class="btn btn-warning btn-sm" />
    <hr />
}
<h3>Töötajad</h3>
<br />
<th>
    <a href='@Url.Action("Create", "Töötaja")' class="btn btn-warning btn-sm">Lisa uus töötaja</a>
</th>
     
@if (Töötaja.SisseloginudTöötaja.TöötajaRoll == Töötaja.Roll.Personalijuht)
{
    <a href='@Url.Action("Register", "Account")' class="btn btn-warning btn-sm">Registreeri uus kasutaja</a>
}


<br/>
<br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Isikukood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kontakt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TööAlgusKP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TööLõppKP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Osakond.Nimetus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TöötajaRoll)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isikukood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kontakt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TööAlgusKP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TööLõppKP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Osakond.Nimetus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TöötajaRoll)
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tegevused <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Muuda", "Edit", new { id = item.Id })</li>
                        <li>@Html.ActionLink("Vaata", "Details", new { id = item.Id })</li>
                        <li>@Html.ActionLink("Kustuta", "Delete", new { id = item.Id })</li>
                    </ul>
                </div>
            </td>
        </tr>
    }
</table>