﻿@model IEnumerable<Puhk.Models.Töötaja>

@{
    ViewBag.Title = "Osakonna töötajad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Osakonna töötajad</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kontakt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TööAlgusKP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TööLõppKP)
        </th>
        <th>
            Roll
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kontakt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TööAlgusKP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TööLõppKP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TöötajaRoll)
            </td>
        </tr>
    }
</table>

