﻿@model Puhk.Models.Töötaja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3>Teretulemast puhkusekeskkonda @Html.DisplayFor(model => model.Nimi)!</h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Isikukood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Isikukood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kontakt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kontakt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TööAlgusKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TööAlgusKP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TööLõppKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TööLõppKP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OsakondId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OsakondId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TöötajaRoll)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TöötajaRoll)
        </dd>

    </dl>

</div>
<div>
    @Html.ActionLink("Puhkuse lisamine", "Create", "Puhkus")
</div>
<div>
    @Html.ActionLink("Oma puhkuste vaatamine", "MinuPuhkus", "Puhkus")
        
</div>
<div>
    @Html.ActionLink("Osakonna puhkuste vaatamine", "OsakonnaPuhkused", "Puhkus")
</div>

@{
    var töötajaRoll = Model.TöötajaRoll;
    if (töötajaRoll == Puhk.Models.Töötaja.Roll.Personalijuht)
    {
        //<h3>Teretulemast puhkusekeskkonda @Html.DisplayFor(model => model.Nimi)!</h3>
        @Html.ActionLink("Töötajate Lisamine", "Create", "Töötaja")
    }
    @*else
    {
        <h3>Mine tagasi</h3>
    }*@
}

    