﻿@using Puhk.Models
@{
    ViewBag.Title = "Puhk";
}


<div id="bg">
    <img src="https://images.unsplash.com/photo-1510272478181-97e3d8afcdb9?ixlib=rb-0.3.5&s=12c3aaa4da4baa33bc0220e154062a83&auto=format&fit=crop&w=1934&q=80" alt="">
</div>
<div class="navbar navbar-fixed-bottom">
    <font color="white"><p><span style="padding-left:60px">&copy; @DateTime.Now.Year PUHK puhkusekeskkond  </p> </font>
</div>



    @*<div class="jumbotron">
        <img src="https://findmyscout.com/cms2014/assets/uploads/2673466-vacation-dog.png" style="height:100%;" >
        <h1>PUHKUSE HALDAMINE</h1>
        <p>Firmajuht:  juku@mail.ee</p>
        <p>Töötaja:   sass@mail.ee</p>
        <p>Osakonnajuht:   elmo@mail.ee</p>
        <p>Personalijuht:   ülle@mail.ee</p>
        <p>Parool on:  _Ab1234</p>
        <p>https://findmyscout.com/cms2014/assets/uploads/2673466-vacation-dog.png</p>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

    <div class="page-header-header">
            <div class="col-xs-10 col-md-6 col-xs-offset-1">
             
                <h1 class="h1-meiePealkiri"><strong>PUHKA VÄLJA!</strong></h1>
                <p class="p-meieTekst">
                    PUHK on Vali IT! programmi raames valminud vapustavalt äge projekt, mis teeb Sinu firma puhkuste planeerimise super lihtsaks (ja tänu bug-idele ka äärmiselt huvitavaks!)
                    Lisa töötajaid ja osakondi, määra puhkused nii õppimiseks kui laste saamiseks - kõik on võimalik!
                </p>
                @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Web Hosting</h2>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
            </div>
        </div>
