﻿@model Puhk.Models.Puhkus
@using Puhk.Models
@{
    ViewBag.Title = "Lisa puhkus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (Töötaja.SisseloginudTöötaja.TöötajaRoll == Töötaja.Roll.Töötaja)
    {
        <h3>Lisa oma puhkuse soov</h3>
    }
    else
    {
        <h3>Lisa puhkus</h3>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PuhkuseTüüp, "Puhkuse tüüp", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EnumDropDownListFor(model => model.PuhkuseTüüp, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PuhkuseTüüp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AlgusKP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AlgusKP, new { htmlAttributes = new { @class = "form-control algusKP"}})
                @Html.ValidationMessageFor(model => model.AlgusKP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LõppKP, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LõppKP, new { htmlAttributes = new { @class = "form-control lõppKP" } })
                @Html.ValidationMessageFor(model => model.LõppKP, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Töötaja.SisseloginudTöötaja.TöötajaRoll != Töötaja.Roll.Töötaja)
        {
            if (Töötaja.SisseloginudTöötaja.TöötajaRoll == Töötaja.Roll.Personalijuht && Töötaja.SisseloginudTöötaja.TöötajaRoll == Töötaja.Roll.Firmajuht)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.TöötajaId, "Töötaja", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TöötajaId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TöötajaId, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.TöötajaId, "Töötaja", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("TöötajaId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TöötajaId, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }

        <div class="form-group">
            <label class="control-label col-md-2">Valitud päevade arv</label>
            <div class="col-md-10">
                <span id="päevadeArv"></span>
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lisa" class="btn btn-warning btn-sm" />
        </div>
    </div>
    <br />
    <br />

    @*<th>
            <a href='@Url.Action("Create", "Töötaja")' class="btn btn-warning btn-sm">Lisa uus töötaja</a>
        </th>*@

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {

            function arvutaPuhkusePäevadeArv() {
                var algusKP = moment($(".algusKP").val(), "YYYY-MM-DD");
                var lõppKP = moment($(".lõppKP").val(), "YYYY-MM-DD");
                var päevadeArv = 0;
                if (algusKP.isValid() && lõppKP.isValid()) {
                    var päevadeArv = lõppKP.diff(algusKP, "days");
                    $("#päevadeArv").text(päevadeArv + " päeva");
                }
                if (!algusKP.isValid() || !lõppKP.isValid()) {
                    $("#päevadeArv").text("")
                }
                if (päevadeArv <= 0) {
                    $("#päevadeArv").text("")
                }
            }

            $(".algusKP").on("change", function () {
                arvutaPuhkusePäevadeArv();
            });

            $(".lõppKP").on("change", function () {
                arvutaPuhkusePäevadeArv();
            });
        })
    </script>

}

@*// dokumendi lisamise jaoks!!*@

@*<h2>Basic File Upload</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" /><br><br>
        <input type="submit" value="Upload Image" />
        <br><br>
        @ViewBag.Message
    }*@