﻿@model Puhk.Models.Puhkus

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Puhkus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Töötaja.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Töötaja.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuhkuseTüüp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuhkuseTüüp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlgusKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlgusKP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LõppKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LõppKP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi", "/Koik")
        </div>
    }
</div>
