﻿@model Puhk.Models.Puhkus

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Puhkus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Töötaja.Nimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Töötaja.Nimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PuhkuseTüüp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PuhkuseTüüp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlgusKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlgusKP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LõppKP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LõppKP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
