﻿@model IEnumerable<Puhk.Models.Puhkus>
    @using Puhk.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Minu puhkused</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Töötaja.Nimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuhkuseTüüp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlgusKP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LõppKP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Töötaja.Nimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PuhkuseTüüp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlgusKP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LõppKP)
            </td>
            <td>
                @if (item.Staatus != null)
                {
                    @Html.DisplayFor(m => item.Staatus)
                }
                else
                {
                    @:Kinnitamata
                }
            </td>
        </tr>
     }
</table>
