﻿@model List<Puhk.Models.OsakonnaPuhkusedViewModel>
@using Puhk.Models

@{
    ViewBag.Title = "Kõik puhkused";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kõik puhkused</h3>

<br />
<th>
    <a class="btn btn-warning btn-sm" href="Create" role="button">Lisa uus puhkus</a>
</th>

<hr />

@foreach (var osakond in Model)
{
    <h4>@osakond.Nimetus</h4>
    <table class="table">
        <tr>
            <th>Töötaja nimi</th>
            <th>Puhkuse tüüp</th>
            <th>Puhkuse alguskuupäev</th>
            <th>Puhkuse lõppkuupäev</th>
            <th>Staatus</th>
            <th></th>
        </tr>
        @foreach (var puhkus in osakond.Puhkused)
        {
            <tr>
                <td>@Html.DisplayFor(m => puhkus.Töötaja.Nimi)</td>
                <td>@Html.DisplayFor(m => puhkus.PuhkuseTüüp)</td>
                <td>@Html.DisplayFor(m => puhkus.AlgusKP)</td>
                <td>@Html.DisplayFor(m => puhkus.LõppKP)</td>
                <td>

                    @if (puhkus.Staatus != null)
                    {
                        @Html.DisplayFor(m => puhkus.Staatus)
                    }
                    else
                    {
                        @:Kinnitamata
                    }
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tegevused <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Muuda", "Edit", new { id = puhkus.Id })</li>
                            <li>@Html.ActionLink("Vaata", "Details", new { id = puhkus.Id })</li>
                            <li>@Html.ActionLink("Kustuta", "Delete", new { id = puhkus.Id })</li>
                            @if (Töötaja.SisseloginudTöötaja.Id != puhkus.Töötaja.Id)
                            {
                                <li>@Html.ActionLink("Kinnita", "KinnitaPuhkus", new { id = puhkus.Id })</li>
                                <li>@Html.ActionLink("Tühista", "TühistaPuhkus", new { id = puhkus.Id })</li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
}

@*<p>
        @Html.ActionLink("Lisa uus puhkus", "Create")
    </p>*@
