﻿@model IEnumerable<Puhk.Models.Puhkus>
@using Puhk.Models

@{
    ViewBag.Title = "Minu puhkused";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Minu puhkused</h3>

<br />
<th>
    <a class="btn btn-warning btn-sm" href="Create" role="button">Lisa uus puhkus</a>
</th>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PuhkuseTüüp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlgusKP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LõppKP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staatus)
        </th>
    </tr>

    @foreach (var puhkus in Töötaja.SisseloginudTöötaja.Puhkused)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => puhkus.PuhkuseTüüp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => puhkus.AlgusKP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => puhkus.LõppKP)
            </td>
            <td>
                @if (puhkus.Staatus != null)
                {
                    @Html.DisplayFor(m => puhkus.Staatus)
                }
                else
                {
                    @:Kinnitamata
                }
            </td>
        </tr>
    }
</table>
