﻿@model Puhk.Models.OsakonnaPuhkusedViewModel
@using Puhk.Models

@{
    ViewBag.Title = "Osakonna puhkused";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("OsakonnaPuhkused", "Puhkus", FormMethod.Get))
{
    <hr/>
    <b> Otsingu valik: </b>
    @Html.RadioButton("option", "Nimi") <text>Nimi</text>
    if (Töötaja.SisseloginudTöötaja.TöötajaRoll != Töötaja.Roll.Töötaja && Töötaja.SisseloginudTöötaja.TöötajaRoll != Töötaja.Roll.Osakonnajuht)
    {
        @Html.RadioButton("option", "Isikukood") <text>Isikukood</text>
    }
    @Html.TextBox("search")
    <input type="submit"
           name="submit"
           value="Otsi"
           class="btn btn-warning btn-sm" />
}
    <hr/>


<h3>@Töötaja.SisseloginudTöötaja.Osakond.Nimetus</h3>

<br />

<table class="table">
    <tr>
        <th>Töötaja nimi</th>
        <th>Puhkuse tüüp</th>
        <th>Puhkuse alguskuupäev</th>
        <th>Puhkuse lõppkuupäev</th>
        <th>Staatus</th>
        <th></th>
    </tr>
    @foreach (var puhkus in Model.Puhkused)
    {
        <tr>
            <td>@Html.DisplayFor(m => puhkus.Töötaja.Nimi)</td>
            <td>@Html.DisplayFor(m => puhkus.PuhkuseTüüp)</td>
            <td>@Html.DisplayFor(m => puhkus.AlgusKP)</td>
            <td>@Html.DisplayFor(m => puhkus.LõppKP)</td>
            <td>

                @if (puhkus.Staatus != null)
                {
                    @Html.DisplayFor(m => puhkus.Staatus)
                }
                else
                {
                    @:Kinnitamata
                }
            </td>


            <td>
                @if (Töötaja.SisseloginudTöötaja.TöötajaRoll != Töötaja.Roll.Töötaja)
                {
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tegevused <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            @if (Töötaja.SisseloginudTöötaja.TöötajaRoll != Töötaja.Roll.Osakonnajuht)
                            {
                                <li>@Html.ActionLink("Muuda", "Edit", new { id = puhkus.Id })</li>
                                <li>@Html.ActionLink("Kustuta", "Delete", new { id = puhkus.Id })</li>

                            }

                            <li>@Html.ActionLink("Vaata", "Details", new { id = puhkus.Id })</li>

                            @if (Töötaja.SisseloginudTöötaja.Id != puhkus.Töötaja.Id)
                            {
                                <li>@Html.ActionLink("Kinnita", "KinnitaPuhkus", new { id = puhkus.Id })</li>
                                <li>@Html.ActionLink("Tühista", "TühistaPuhkus", new { id = puhkus.Id })</li>
                            }

                        </ul>
                    </div>
                }
            </td>
        </tr>
    }
</table>

