﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.page-header-header{
    margin-top: 15%;
}

.h1-meiePealkiri {
    color: rgb(221, 221, 233);
    font: bold 60px/60px Arial black, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(163, 153, 122); /* fallback color */
    background: rgba(163, 153, 122, 0.4);
    padding: 15px;
}
.p-meieTekst {
    font-size: 20px;
    background: rgb(163, 153, 122); /* fallback color */
    background: rgba(163, 153, 122, 0.4);
    padding: 20px;
}

    #bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

    #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }

.btn-warning {
    color: black;
    background-color: rgb(174,198,207);
    border-color: rgb(174,198,207);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: rgb(143, 172, 183);
    border-color: rgb(143, 172, 183);
}
