﻿@model Puhk.Models.Osakond

@{
    ViewBag.Title = "Kustuta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Kustuta</h3>

<h4>Oled sa kindel, et soovid osakonda kustutada?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimetus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimetus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi", "Index")
        </div>
    }
</div>
