﻿@model Puhk.Models.Osakond

@{
    ViewBag.Title = "Osakonna andmed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Osakonna andmed</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nimetus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nimetus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tagasi", "Index")
</p>
