﻿@model IEnumerable<Puhk.Models.Osakond>

@{
    ViewBag.Title = "Osakonnad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Osakonnad</h3>
<br />
<th>
    <a href='@Url.Action("Create", "Osakond")' class="btn btn-warning btn-sm">Lisa uus osakond</a>
</th>
<br />
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nimetus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nimetus)
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tegevused <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Muuda", "Edit", new { id = item.Id })</li>
                        <li>@Html.ActionLink("Vaata", "Details", new { id = item.Id })</li>
                        <li>@Html.ActionLink("Kustuta", "Delete", new { id = item.Id })</li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>

